<a href="https://colab.research.google.com/github/wbrow010/CSC221_wbrow010/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3-1: Names

names = ['Tom', 'Mike', 'Dan']

print(names[0])
print(names[1])
print(names[2])

NameError: name 'names' is not defined

In [ ]:
# 3-2: Greetings

names = ['Tom', 'Mike', 'Dan']

msg = f"Hello, {names[0].title()}!"
print(msg)

msg = f"Hello, {names[1].title()}!"
print(msg)

msg = f"Hello, {names[2].title()}!"
print(msg)

Hello, Tom!
Hello, Mike!
Hello, Dan!

In [ ]:
# 3-3: Your Own List

items = ['Porsche', 'RTX 4090', 'House']

msg = f"I would like to own a {items[0].title()}!"
print(msg)

msg = f"I would like to own a {items[1].title()}!"
print(msg)

msg = f"I would like to own a {items[2].title()}!"
print(msg)

I would like to own a Porsche!
I would like to own a Rtx 4090!
I would like to own a House!

In [ ]:
# 3-4: Guest List

guests = ['Jay-Z', 'Joe Walsh', 'Seth Macfarlane']

name = guests[0].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")

Jay-Z, please come to dinner.
Joe Walsh, please come to dinner.
Seth Macfarlane, please come to dinner.

In [ ]:
# 3-5: Changing Guest List

guests = ['Jay-Z', 'Joe Walsh', 'Seth Macfarlane']

name = guests[0].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"\n{name} can't make it to dinner.")

del(guests[1])
guests.insert(1, 'David Attenborough')

name = guests[0].title()
print(f"\n{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")

Jay-Z, please come to dinner.
Joe Walsh, please come to dinner.
Seth Macfarlane, please come to dinner.

Joe Walsh can't make it to dinner.

Jay-Z, please come to dinner.
David Attenborough, please come to dinner.
Seth Macfarlane, please come to dinner.

In [ ]:
# 3-6: More Guests

guests = ['Jay-Z', 'Joe Walsh', 'Seth Macfarlane']

name = guests[0].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")


name = guests[1].title()
print(f"\n{name} can't make it to dinner.")

del(guests[1])
guests.insert(1, 'David Attenborough')


name = guests[0].title()
print(f"\n{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")


print("\nFound bigger table")
guests.insert(0, 'Greta Thunberg')
guests.insert(2, 'Max Verstappen')
guests.append('Keanu Reeves')

name = guests[0].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")

name = guests[3].title()
print(f"{name}, please come to dinner.")

name = guests[4].title()
print(f"{name}, please come to dinner.")

name = guests[5].title()

Jay-Z, please come to dinner.
Joe Walsh, please come to dinner.
Seth Macfarlane, please come to dinner.

Joe Walsh can't make it to dinner.

Jay-Z, please come to dinner.
David Attenborough, please come to dinner.
Seth Macfarlane, please come to dinner.

Found bigger table
Greta Thunberg, please come to dinner.
Jay-Z, please come to dinner.
Max Verstappen, please come to dinner.
David Attenborough, please come to dinner.
Seth Macfarlane, please come to dinner.

In [ ]:
# 3-7: Shrinking Guest List

guests = ['Jay-Z', 'Joe Walsh', 'Seth Macfarlane']

name = guests[0].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")


name = guests[1].title()
print(f"\n{name} can't make it to dinner.")

del(guests[1])
guests.insert(1, 'David Attenborough')


name = guests[0].title()
print(f"\n{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")


print("\nFound bigger table")
guests.insert(0, 'Greta Thunberg')
guests.insert(2, 'Max Verstappen')
guests.append('Keanu Reeves')

name = guests[0].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")

name = guests[3].title()
print(f"{name}, please come to dinner.")

name = guests[4].title()
print(f"{name}, please come to dinner.")

name = guests[5].title()


print("\nTable size shrunk.")

name = guests.pop()
print(f"{name.title()} had to leave dinner.")

name = guests.pop()
print(f"{name.title()} had to leave dinner.")

name = guests.pop()
print(f"{name.title()} had to leave dinner.")

name = guests.pop()
print(f"{name.title()} had to leave dinner.")


name = guests[0].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")


del(guests[0])
del(guests[0])

print(guests)

Jay-Z, please come to dinner.
Joe Walsh, please come to dinner.
Seth Macfarlane, please come to dinner.

Joe Walsh can't make it to dinner.

Jay-Z, please come to dinner.
David Attenborough, please come to dinner.
Seth Macfarlane, please come to dinner.

Found bigger table
Greta Thunberg, please come to dinner.
Jay-Z, please come to dinner.
Max Verstappen, please come to dinner.
David Attenborough, please come to dinner.
Seth Macfarlane, please come to dinner.

Table size shrunk.
Keanu Reeves had to leave dinner.
Seth Macfarlane had to leave dinner.
David Attenborough had to leave dinner.
Max Verstappen had to leave dinner.
Greta Thunberg, please come to dinner.
Jay-Z, please come to dinner.
[]

In [ ]:
# 3-8: Seeing the World

locations = ['Venice', 'Florida', 'Japan', 'Sweden', 'France']

print("Original order-")
print(locations)

print("\nAlphabetical order-")
print(sorted(locations))

print("\nOriginal order-")
print(locations)

print("\nReverse & alphabetical order-")
print(sorted(locations, reverse=True))

print("\nOriginal order-")
print(locations)

print("\nReversed order-")
locations.reverse()
print(locations)

print("\nOriginal order-")
locations.reverse()
print(locations)

print("\nAlphabetical order-")
locations.sort()
print(locations)

print("\nReverse & alphabetical order-")
locations.sort(reverse=True)

print(locations)

Original order-
['Venice', 'Florida', 'Japan', 'Sweden', 'France']

Alphabetical order-
['Florida', 'France', 'Japan', 'Sweden', 'Venice']

Original order-
['Venice', 'Florida', 'Japan', 'Sweden', 'France']

Reverse & alphabetical order-
['Venice', 'Sweden', 'Japan', 'France', 'Florida']

Original order-
['Venice', 'Florida', 'Japan', 'Sweden', 'France']

Reversed order-
['France', 'Sweden', 'Japan', 'Florida', 'Venice']

Original order-
['Venice', 'Florida', 'Japan', 'Sweden', 'France']

Alphabetical order-
['Florida', 'France', 'Japan', 'Sweden', 'Venice']

Reverse & alphabetical order-
['Venice', 'Sweden', 'Japan', 'France', 'Florida']

In [ ]:
# 3-9: Dinner Guests

guests = ['Jay-Z', 'Joe Walsh', 'Seth Macfarlane']

name = guests[0].title()
print(f"{name}, please come to dinner.")

name = guests[1].title()
print(f"{name}, please come to dinner.")

name = guests[2].title()
print(f"{name}, please come to dinner.")

print(f"Invited {len(guests)} people to dinner.")

Jay-Z, please come to dinner.
Joe Walsh, please come to dinner.
Seth Macfarlane, please come to dinner.
Invited 3 people to dinner.

In [ ]:
# 3-10: Every Function

vehicles = ['Toyota', 'Honda','Chrysler','Buick','Audi','Mercedes','Chevrolet']

print("Original order-")
print(vehicles)

print("\nAlphabetical order-")
print(sorted(vehicles))

print("\nReverse & alphabetical order-")
print(sorted(vehicles, reverse=True))

vehicles.remove("Chevrolet")
vehicles.append("Dodge")

print("\nRemoved Chevrolet and added Dodge\n")

vehicles.sort()

print("Sorted order-")
print(vehicles)

print(f"Total number of vehicle manufacturers: {len(vehicles)}")

print(vehicles[0])
vehicle = vehicles.pop()
print(vehicle)

vehicles.insert(0,"Pontiac")

print(vehicles)

del(vehicles[0])

print(vehicles)

del(vehicles[0])

print(vehicles)

del(vehicles[0])

print(vehicles)

del(vehicles[0])

print(vehicles)

del(vehicles[0])

print(vehicles)

del(vehicles[0])

print(vehicles)

del(vehicles[0])

print()

Original order-
['Toyota', 'Honda', 'Chrysler', 'Buick', 'Audi', 'Mercedes', 'Chevrolet']

Alphabetical order-
['Audi', 'Buick', 'Chevrolet', 'Chrysler', 'Honda', 'Mercedes', 'Toyota']

Reverse & alphabetical order-
['Toyota', 'Mercedes', 'Honda', 'Chrysler', 'Chevrolet', 'Buick', 'Audi']

Removed Chevrolet and added Dodge

Sorted order-
['Audi', 'Buick', 'Chrysler', 'Dodge', 'Honda', 'Mercedes', 'Toyota']
Total number of vehicle manufacturers: 7
Audi
Toyota
['Pontiac', 'Audi', 'Buick', 'Chrysler', 'Dodge', 'Honda', 'Mercedes']
['Audi', 'Buick', 'Chrysler', 'Dodge', 'Honda', 'Mercedes']
['Buick', 'Chrysler', 'Dodge', 'Honda', 'Mercedes']
['Chrysler', 'Dodge', 'Honda', 'Mercedes']
['Dodge', 'Honda', 'Mercedes']
['Honda', 'Mercedes']
['Mercedes']

In [1]:
# 3-11: Intentional Error

names = ['Tom', 'Mike', 'Dan']

print(names[0])
print(names[1])
print(names[3])

Tom
Mike

IndexError: list index out of range